#section-reviews {
  .top {
    background-color: #c6d4e0;
  }

  .heading__title {
    padding-top: 30px;
    color: #2e4a6f;
  }

  .bottom {
    background-image: url(/assets/divider-reviews.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    background-color: #e3edf4;
    padding-top: 90px;
    padding-bottom: 30px;
    // padding-top: 55px;
  }

  .review-videos {
    margin-bottom: 25px;
  }

  .mobile-image img {
    width: 100%;
  }

  @include birdeye-footer(#4b382c, false);

  .byline {
    padding-top: 25px;
    padding-bottom: 55px;
  }

  .bf-spn {
    font-family: $ff-lato;
  }
}
